<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<title>TODOS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/screen.css">
	</head>
	
	<body>
		
		<header class="section">
			
			<!-- container -->
			<div class="container">
				<h1>TODOs App</h1>
				<p class="hide-small">Tasks Tracker</p>
				<div style="float:right;">
					<input  id="search-text" type="text" placeholder="Filter todos">
        			<input type="checkbox" id="hide-completed"> Hide completed        				
				</div>
				<nav class="site-nav">
					<ul class="group">
						<li><a href="#">Home</a></li>
						<li><a href="#">More Tab</a></li>
					</ul>

				</nav>
				
			</div><!-- /container -->
			
		</header>
		
		<div class="content-area group section">
			<div class="container">
				<div class="row">
					<div class="col col-md-8 push-down-sm">						
						<h2>Welcome to TODOs APP</h2>
						<div id="todos"></div>	
						<img src="images/star.png" class="star">						
					</div>					
					<div class="col col-md-4 sidebar">
						
        				
        				{{!-- <div id="todos"></div> --}}
        				<form id="new-todo">
        				    <input type="text" placeholder="Something to do" name="text">
        				    <button>Add Todo</button>
        				</form>
        				
						{{!-- <script src="https://wzrd.in/standalone/uuid%2Fv4@latest"></script> --}}
						<script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
        				<script src="/js/todo-functions.js"></script>
        				<script src="/js/todo-app.js"></script>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<p>&copy; 2020 - Piyush Sharma</p>
		</footer>
		
		
	</body>
	
</html>